# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace
*.sublime-project
.idea/*

# Node
node_modules
npm-debug.log

# Grunt
.grunt/

# compiled code is committed so this package is installable from git without a build step

# Debugging Files
debug/*
!debug/sample.html
